<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="tests/bootstrap.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         printerClass="Codedungeon\PHPUnitPrettyResultPrinter\Printer"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Application Test Suite">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">src/</directory>
            <exclude>
                <directory suffix=".php">src/Commands/</directory>
                <file>src/VersioningServiceProvider.php</file>
            </exclude>
        </whitelist>
    </filter>
    <listeners>
        <listener class="NunoMaduro\Collision\Adapters\Phpunit\Listener" />
        <listener class="JohnKary\PHPUnit\Listener\SpeedTrapListener">
            <arguments>
                <array>
                    <element key="slowThreshold">
                        <integer>10000</integer>
                    </element>
                    <element key="reportLength">
                        <integer>10</integer>
                    </element>
                </array>
            </arguments>
        </listener>
    </listeners>
        <logging>
        <log type="coverage-clover" target="tests/_reports/clover.xml"/>
        <log type="coverage-html" target="tests/_reports/coverage" lowUpperBound="35" highLowerBound="70" />
        <log type="testdox-text" target="tests/_reports/testdox/executed.txt"/>
    </logging>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="CACHE_DRIVER" value="redis"/>
        <env name="SESSION_DRIVER" value="redis"/>
        <env name="QUEUE_DRIVER" value="redis"/>
        <env name="TEST_DATASET_SIZE" value="500" />
        <env name="TEST_FEATURE_DATASET_SIZE" value="2" />
        <env name="GITHUB_TOKEN" value="ac5007a8e232eab32883293fc864cbaf6f917b95" />
        <env name="GITHUB_ORG_NAME" value="Jersak" />
        <env name="GITHUB_REPO_NAME" value="lib-laravel-git-versioning" />
    </php>
</phpunit>
